code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
  color: inherit;
  text-shadow: none;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: transparent;
}

pre > code {
  background-color: transparent !important;
}
