.word-break {
  word-break: keep-all !important;
}

html {
  word-break: keep-all !important;
}

.base-container {
  margin-top: 128px;
  margin-bottom: 128px;
}

.article-container {
  margin-top: 128px;
  margin-bottom: 128px;
  max-width: 720px !important;
}

a {
  text-decoration: none;
}
